html
  head
    title Student Grades Report
    link(rel='stylesheet', href='/style.css', type='text/css')
  body
    div.center
      h1 Student Grades Report App
      h2 Input your student's final grade percentage (%):
      form(action="/" method="post" id="studentForm" class='row')
        div
            input(type="text" name="name" placeholder="Student Name")
        div
            input(type="number" name="percent" placeholder="Student Percent" step=".01")
        div
            button(type="submit") Save Student
                  
      if errors
        p.err= errors

    div
      hr
      each val in studentArray
        article.row-around(id=val.url)
          p
            strong= "Student ID: "
            span= val.url
          p
            strong= "Name: "
            span= val.studentName
          p
            strong= "Student Percent: "
            span= val.studentPercent
          p
            strong= "Letter Grade: "
            span= val.studentLetterGrade
          //- p.del
          //-   a(href="/delete/" + val.url) Delete
          button(class="del" id=val.url) Delete
          p
            a(href="/" + val.url) Edit
        hr

    script(
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous")
    script.
      // delete
      $( 'body' ).on( 'click', '.del', ( e ) => {
          e.preventDefault()
          $.ajax({
              url: '/delete/' + e.target.id,
              method: 'delete',
              success: (data) => {
                  if ( data.status === "Success" ) {
                      window.location = data.redirect
                  }
              }
          })
          .done( () => {
              student.remove()
          })
      })